<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rollpix_discountbadge>
            <general>
                <enabled>0</enabled>
                <min_discount>5</min_discount>
                <text_template>{discount}% OFF</text_template>
                <badge_style>filled</badge_style>
            </general>
            <pdp_styles>
                <position>right_of_old_price</position>
                <background_color>#E91E8C</background_color>
                <text_color>#FFFFFF</text_color>
                <font_size>14</font_size>
                <border_radius>4</border_radius>
                <padding>2px 8px</padding>
                <font_weight>bold</font_weight>
            </pdp_styles>
            <listing_styles>
                <position>right_of_old_price</position>
                <background_color>#E91E8C</background_color>
                <text_color>#FFFFFF</text_color>
                <font_size>12</font_size>
                <border_radius>4</border_radius>
                <padding>2px 6px</padding>
                <font_weight>bold</font_weight>
            </listing_styles>
            <custom_css>
                <custom_css/>
            </custom_css>
        </rollpix_discountbadge>
    </default>
</config>
